/* 
background: var;
background: #FFFFFF;
background: #757575;
background: #2196F3;
background: #000000;
background: #2F303A;
background: #FFFFFF99;
background: #ECECEC;
background: #F5F4FA;
 */

/* -------------------------------------------- */

/* logo */

/* header section */

/* hero section */

/* section features */

/* work section */
.work {
}

/* team section */

/* loyal clients section */

/* =================== footer section ================================= */

.footer-subscribe-input-field {
}

/* ================= modal window ======================= */

/* ===================== filter section on portfolio page ========================= */
.filter {
}

/* project example section on portfolio */
.project {
}

.project-title {
}
