.footer-subscribe-form {
    margin-left: 94px;
}

.footer-subscribe-button-icon {
    fill: var(--color-white);
    margin-left: 10px;
}

.footer-subscribe-input {
    width: 358px;
    height: 50px;
    padding-left: 12px;
    padding-top: 16px;
    padding-bottom: 16px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    background-color: var(--dark-bg);
    color: var(--color-white);

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &::placeholder {
        padding-top: 5px;
    }

    &:focus {
        outline: none;
        border-color: var(--blue);
    }
}

.footer-subscribe-box {
    display: flex;
    gap: 10px;
}

.footer-subscribe-box-item:last-child {
    margin-left: 10px;
}