.logo-link {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--blue);
    margin-right: 93px;

    .footer & {
        display: inline-block;
        margin-bottom: 20px;
        margin-right: 0;
    }
}

.logo-link_header {
    padding: 24px 0;
}

.logo_dark {
    color: var(--text-color-dark);
}

.logo_light {
    color: var(--color-white);
}

