:root {
    --blue: #2196f3;
    --blue-h-f: #188ce8;
    --dark-bg: #2f303a;
    --gray-bg: #f5f4fa;
    --color-white: #ffffff;
    --text-color-gray: #757575;
    --text-color-dark: #000000;
    --color-black: #212121;
    --gray-border-line: #ececec;
    --gray-border: #eeeeee;
    --icon-color: #afb1b8;
    --social-icon-bg: rgba(255, 255, 255, 0.1);
    --transition-dur-and-func: 250ms linear;
}